In [1]:
import urllib.request as ureq #Basic URL request wrapper
from bs4 import BeautifulSoup as bsoup #HTML/xml Parser
import numpy as np
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' #URL to be scraped

In [3]:
# Scrapes table for data. Could be more robust
# 'Elif' statement is used to duplicate a row with a different neighborhood in 3rd column because
# data was overall, pretty reasonable.
# Handles one error of nested row

columns = []
dataMatrix = []

i = 0

with ureq.urlopen(url) as c:
    for x in bsoup(c).table.tr.find_all('th'): 
        columns.append(x.get_text().rstrip('\n'))  #Construct list of column headers

with ureq.urlopen(url) as c:
    for n in bsoup(c).table.find_all('tr'):
        temp = n.get_text().replace('\n\n','+').rsplit('+')
        temp2 = n.get_text().replace('\n\n','+').rsplit('+')
        if len(temp) >3:
            print("[Warn] Table improperly formatted: " + '|'.join(temp) + "Dropping improper length. Please investigate")
            del temp[-1]
            dataMatrix.append(temp)
        elif i == 27 or i == 31:
            dataMatrix.append(temp)
            temp2[2]='HI'
            dataMatrix.append(temp2)
        else:
            dataMatrix.append(temp)
        
        i+=1
            
df = pd.DataFrame(dataMatrix)

[Warn] Table improperly formatted:
M5V|Downtown Toronto|CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst
 Quay / South Niagara / Island airport|Dropping improper length. Please investigate

In [4]:
df.shape #Prints shape of dataframe with duplicates

(183, 3)

In [5]:
df.head()

               0             1                   2
0  \nPostal code       Borough      Neighborhood\n
1          \nM1A  Not assigned                  \n
2          \nM2A  Not assigned                  \n
3          \nM3A    North York         Parkwoods\n
4          \nM4A    North York  Victoria Village\n

In [6]:
df = df.replace(r'\n','', regex=True) #Remove all '\n' from df cells

In [7]:

df.head()

             0             1                 2
0  Postal code       Borough      Neighborhood
1          M1A  Not assigned
2          M2A  Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

In [8]:
df.columns = df.iloc[0] # Makes first row a header
df.drop([0],inplace=True) # Drops first row

In [9]:
# print(df.to_string())

In [10]:
# df['Postal code'].index.get_duplicates()
# df[df['Postal code'].duplicated()]

In [11]:
indexNames = df[(df['Borough'] == 'Not assigned')].index # Gets indicies of all boroughs that are unassigned.

In [12]:
indexNames

Int64Index([  1,   2,   8,  11,  16,  17,  20,  25,  26,  30,  31,  36,  37,
             38,  40,  41,  45,  46,  47,  54,  55,  56,  63,  64,  65,  72,
             73,  74,  81,  82,  90,  91,  99, 100, 104, 108, 109, 113, 118,
            121, 122, 126, 127, 128, 130, 131, 134, 135, 136, 137, 139, 140,
            143, 144, 148, 149, 152, 153, 157, 158, 161, 162, 164, 165, 166,
            167, 169, 170, 173, 174, 175, 176, 177, 178, 179, 180, 182],
           dtype='int64')

In [13]:
df.drop(indexNames,inplace=True) # Drops unassigned boroghs

In [14]:
df.shape # New shape of dataframe with duplicates

(105, 3)

In [15]:
df=df.set_index("Postal code", drop=True)  #To be removed (TBR)

In [16]:
df[df.index.duplicated()]['Borough']
print(list(range(len(list(enumerate(df[df.index.duplicated()].index)))))) # TBR

[0, 1]

In [17]:
df.loc[['M4E']].groupby(['Postal code','Borough'],as_index=False).agg(', '.join)['Neighborhood'] # TBR

0    The Beaches, HI
Name: Neighborhood, dtype: object

In [18]:
##Algo for:
## - Looking for duplicate Postal codes
## - Assumes Borough is the same
## - Concatenates neighborhoods with a comma in-between

##Returns:
## - Dataframe to replace duplicate rows

repDf = pd.DataFrame(columns=['Postal code', 'Borough', 'Neighborhood'])

for i in df[df.index.duplicated()].index:
    pc = i
    borough = df.loc[[i]]['Borough']
    neigh = df.loc[[i]].groupby(['Borough'],as_index=False).agg(', '.join)['Neighborhood']
    repDf = repDf.append({'Postal code' : pc , 'Borough' : borough.values[0],'Neighborhood':neigh.values[0]} , ignore_index=True)
#     print(np.unique(borough.to_frame()['Borough']))
#     print(borough.values[0])

repDf=repDf.set_index("Postal code", drop=True)
repDf.head()

                  Borough                                       Neighborhood
Postal code
M9C             Etobicoke  Eringate / Bloordale Gardens / Old Burnhamthor...
M4E          East Toronto                                    The Beaches, HI

In [19]:
df[df.index.duplicated()].index

Index(['M9C', 'M4E'], dtype='object', name='Postal code')

In [20]:
for n in  df[df.index.duplicated()].index:
    df=df.drop(n,axis=0)

In [21]:
df.shape # Remove duplicat rows

(101, 2)

In [22]:
df=df.append(repDf) # Add concatenated rows

In [23]:
df.shape

(103, 2)

In [24]:
df.tail()

0                 Borough                                       Neighborhood
Postal code
M7Y          East Toronto              Business reply mail Processing CentrE
M8Y             Etobicoke  Old Mill South / King's Mill Park / Sunnylea /...
M8Z             Etobicoke  Mimico NW / The Queensway West / South of Bloo...
M9C             Etobicoke  Eringate / Bloordale Gardens / Old Burnhamthor...
M4E          East Toronto                                    The Beaches, HI