In [298]:
import urllib.request as ureq #Basic URL request wrapper
from bs4 import BeautifulSoup as bsoup #HTML/xml Parser
import numpy as np
import pandas as pd

In [299]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' #URL to be scraped

In [319]:
columns = []
dataMatrix = []

i = 0

with ureq.urlopen(url) as c:
    for x in bsoup(c).table.tr.find_all('th'): 
        columns.append(x.get_text().rstrip('\n'))  #Construcct list of column headers

with ureq.urlopen(url) as c:
    for n in bsoup(c).table.find_all('tr'):
        temp = n.get_text().replace('\n\n','+').rsplit('+')
        if len(temp) >3:
            print("WARNING: Table improperly formatted: " + '|'.join(temp) + "Dropping improper length. Please investigate")
            del temp[-1]
            dataMatrix.append(temp)
        elif i == 27 or i == 31:
            dataMatrix.append(temp)
            temp[2]='Temporary Location'
            dataMatrix.append(temp)
        else:
            dataMatrix.append(temp)
        
        i+=1
            
df = pd.DataFrame(dataMatrix)
#         dataMatrix.append(n.get_text().replace('\n\n',',').rsplit(','))
#, bsoup(pageData).table.th)
# columns
# print(bsoup(pageData).table.th)#, bsoup(pageData).table.th)

WARNING: Table improperly formatted:
M5V|Downtown Toronto|CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst
 Quay / South Niagara / Island airport|Dropping improper length. Please investigate

In [320]:
df.shape

(183, 3)

In [321]:
df.head()

               0             1                   2
0  \nPostal code       Borough      Neighborhood\n
1          \nM1A  Not assigned                  \n
2          \nM2A  Not assigned                  \n
3          \nM3A    North York         Parkwoods\n
4          \nM4A    North York  Victoria Village\n

In [322]:
df = df.replace(r'\n','', regex=True) #Remove all '\n' from df cells

In [323]:

df.head()

             0             1                 2
0  Postal code       Borough      Neighborhood
1          M1A  Not assigned
2          M2A  Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

In [324]:
df.columns = df.iloc[0]
df.drop([0],inplace=True) #

In [325]:
df.head()

0 Postal code           Borough                Neighborhood
1         M1A      Not assigned
2         M2A      Not assigned
3         M3A        North York                   Parkwoods
4         M4A        North York            Victoria Village
5         M5A  Downtown Toronto  Regent Park / Harbourfront

In [326]:
# df['Postal code'].index.get_duplicates()
df[df['Postal code'].duplicated()]

0  Postal code       Borough        Neighborhood
28         M9C     Etobicoke  Temporary Location
33         M4E  East Toronto  Temporary Location

In [273]:
indexNames = df[ (df['Borough'] == 'Not assigned') ].index

In [274]:
indexNames

Int64Index([  1,   2,   8,  11,  16,  17,  20,  25,  26,  29,  30,  34,  35,
             36,  38,  39,  43,  44,  45,  52,  53,  54,  61,  62,  63,  70,
             71,  72,  79,  80,  88,  89,  97,  98, 102, 106, 107, 111, 116,
            119, 120, 124, 125, 126, 128, 129, 132, 133, 134, 135, 137, 138,
            141, 142, 146, 147, 150, 151, 155, 156, 159, 160, 162, 163, 164,
            165, 167, 168, 171, 172, 173, 174, 175, 176, 177, 178, 180],
           dtype='int64')

In [275]:
df.drop(indexNames,inplace=True)

In [276]:
df.shape

(103, 3)

In [277]:
ddf = df[df.duplicated(['Postal code'])]

In [278]:
ddf

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []