# PLEASE NOTE: ALL 3 PARTS ARE IN THIS FILE AS ONE LEADS TO THE NEXT. ANSWERS ARE DELINEATED by (1,2,3)

In [1]:
import urllib.request as ureq #Basic URL request wrapper
from bs4 import BeautifulSoup as bsoup #HTML/xml Parser
import numpy as np
import pandas as pd
from time import sleep

In [2]:
!pip install geopy

Requirement already satisfied: geopy in /Users/stephenmccarthy/opt/anaconda3/lib/python3.7/site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/stephenmccarthy/opt/anaconda3/lib/python3.7/site-packages (from geopy) (1.50)

In [3]:
from geopy.geocoders import Nominatim as notim

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' #URL to be scraped

# Scrapes table for data. Could be more robust
# 'Elif' statement is used to duplicate a row with a different neighborhood in 3rd column because
# data was overall, pretty reasonable.
# Handles one error of nested row

In [5]:


columns = []
dataMatrix = []

i = 0

with ureq.urlopen(url) as c:
    for x in bsoup(c).table.tr.find_all('th'): 
        columns.append(x.get_text().rstrip('\n'))  #Construct list of column headers

with ureq.urlopen(url) as c:
    for n in bsoup(c).table.find_all('tr'):
        temp = n.get_text().replace('\n\n','+').rsplit('+')
        temp2 = n.get_text().replace('\n\n','+').rsplit('+')
        if len(temp) >3:
            print("[Warn] Table improperly formatted: " + '|'.join(temp) + "Dropping improper length. Please investigate")
            del temp[-1]
            dataMatrix.append(temp)
        elif i == 27 or i == 31:
            dataMatrix.append(temp)
            temp2[2]='HI'
            dataMatrix.append(temp2)
        else:
            dataMatrix.append(temp)
        
        i+=1
            
df = pd.DataFrame(dataMatrix)

[Warn] Table improperly formatted:
M5V|Downtown Toronto|CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst
 Quay / South Niagara / Island airport|Dropping improper length. Please investigate

In [6]:
df.shape #Prints shape of dataframe with duplicates

(183, 3)

In [7]:
df.head()

               0             1                   2
0  \nPostal code       Borough      Neighborhood\n
1          \nM1A  Not assigned                  \n
2          \nM2A  Not assigned                  \n
3          \nM3A    North York         Parkwoods\n
4          \nM4A    North York  Victoria Village\n

In [8]:
df = df.replace(r'\n','', regex=True) #Remove all '\n' from df cells

In [9]:

df.head()

             0             1                 2
0  Postal code       Borough      Neighborhood
1          M1A  Not assigned
2          M2A  Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

In [10]:
df.columns = df.iloc[0] # Makes first row a header
df.drop([0],inplace=True) # Drops first row

In [11]:
# print(df.to_string())

In [12]:
# df['Postal code'].index.get_duplicates()
# df[df['Postal code'].duplicated()]

In [13]:
indexNames = df[(df['Borough'] == 'Not assigned')].index # Gets indicies of all boroughs that are unassigned.

In [14]:
indexNames

Int64Index([  1,   2,   8,  11,  16,  17,  20,  25,  26,  30,  31,  36,  37,
             38,  40,  41,  45,  46,  47,  54,  55,  56,  63,  64,  65,  72,
             73,  74,  81,  82,  90,  91,  99, 100, 104, 108, 109, 113, 118,
            121, 122, 126, 127, 128, 130, 131, 134, 135, 136, 137, 139, 140,
            143, 144, 148, 149, 152, 153, 157, 158, 161, 162, 164, 165, 166,
            167, 169, 170, 173, 174, 175, 176, 177, 178, 179, 180, 182],
           dtype='int64')

In [15]:
df.drop(indexNames,inplace=True) # Drops unassigned boroghs

In [16]:
df.shape # New shape of dataframe with duplicates

(105, 3)

In [17]:
df=df.set_index("Postal code", drop=True)  #To be removed (TBR)

In [18]:
df[df.index.duplicated()]['Borough']
print(list(range(len(list(enumerate(df[df.index.duplicated()].index)))))) # TBR

[0, 1]

In [19]:
df.loc[['M4E']].groupby(['Postal code','Borough'],as_index=False).agg(', '.join)['Neighborhood'] # TBR

0    The Beaches, HI
Name: Neighborhood, dtype: object

## Algo for:
## - Looking for duplicate Postal codes
## - Assumes Borough is the same
## - Concatenates neighborhoods with a comma in-between

## Returns:
## - Dataframe to replace duplicate rows

In [20]:


repDf = pd.DataFrame(columns=['Postal code', 'Borough', 'Neighborhood'])

for i in df[df.index.duplicated()].index:
    pc = i
    borough = df.loc[[i]]['Borough']
    neigh = df.loc[[i]].groupby(['Borough'],as_index=False).agg(', '.join)['Neighborhood']
    repDf = repDf.append({'Postal code' : pc , 'Borough' : borough.values[0],'Neighborhood':neigh.values[0]} , ignore_index=True)
#     print(np.unique(borough.to_frame()['Borough']))
#     print(borough.values[0])

repDf=repDf.set_index("Postal code", drop=True)
repDf.head()

                  Borough                                       Neighborhood
Postal code
M9C             Etobicoke  Eringate / Bloordale Gardens / Old Burnhamthor...
M4E          East Toronto                                    The Beaches, HI

In [21]:
df[df.index.duplicated()].index

Index(['M9C', 'M4E'], dtype='object', name='Postal code')

In [22]:
for n in  df[df.index.duplicated()].index:
    df=df.drop(n,axis=0)

In [23]:
df.shape # Remove duplicat rows

(101, 2)

In [24]:
df=df.append(repDf) # Add concatenated rows

# Returns correct shape of full table WITHOUT duplicates

# ANSWER TO (1)

In [41]:
df.shape

(103, 2)

In [43]:
df.head()

0                     Borough                                  Neighborhood
Postal code
M3A                North York                                     Parkwoods
M4A                North York                              Victoria Village
M5A          Downtown Toronto                    Regent Park / Harbourfront
M6A                North York             Lawrence Manor / Lawrence Heights
M7A          Downtown Toronto  Queen's Park / Ontario Provincial Government

In [27]:
gl = notim(user_agent='coursera121')
# gcLoc = df[i]
#geocode = RateLimiter() = gl.geocode("Cliffside / Cliffcrest / Scarborough Village West, Scarborough")
# print(location.latitude, location.longitude)

## DOES NOT WORK. Rate limiting times out server before you can get all coordinates

In [28]:
## DOES NOT WORK. Rate limiting times out server before you can get all coordinates

# from geopy.extra.rate_limiter import RateLimiter

# locs = []

# for i in df.index:
#     location = RateLimiter(gl.geocode(df.loc[i].values[0] +', '+ df.loc[i].values[1].rsplit('/')[0]),min_delay_seconds=5)
#     try:
# #         print(location.latitude, location.longitude)
#         locs.append((location.latitude, location.longitude))
#     except:
#         continue
#     sleep(1)

# Read from csv

In [29]:
locdf = pd.read_csv('Geospatial_coordinates.csv')

In [30]:
locdf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [31]:
locdf=locdf.set_index("Postal Code",)

In [32]:
locdfcopy = locdf

In [33]:
# Puts Lat/Long together from csv file and location:

# ANSWER TO (2)

In [42]:
locdfcopy.head()
cdf = df
y=[]
x=pd.DataFrame(index=cdf.index)#,columns=['Borough', 'Neighborhood', 'Latitude', 'Longitude'])
for n in cdf.index.values:
    tempx = locdfcopy.loc[n].to_frame().transpose()
#     print(tempx.loc[n].to_frame().transpose())
#     cdf.join(tempx.loc[n].to_frame().transpose(),on=n)
    abc=pd.merge(cdf, tempx, left_index=True, right_index=True)
    y.append(abc)
    
ydf=pd.concat(y)

ydf.head()

,Borough,Neighborhood,Latitude,Longitude
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494

In [35]:
ydf['Borough'].unique()

array(['North York', 'Downtown Toronto', 'Etobicoke', 'Scarborough',
       'East York', 'York', 'West Toronto', 'East Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [36]:
for i in ydf['Borough'].unique():
    print(i)

North York
Downtown Toronto
Etobicoke
Scarborough
East York
York
West Toronto
East Toronto
Central Toronto
Mississauga

In [37]:
ydf.dtypes

Borough          object
Neighborhood     object
Latitude        float64
Longitude       float64
dtype: object


#### Will return clustered dataframe from any unique borough name
#### Use "ydf['Borough'].unique()" to get list of unique borough names
#### This can be turned into a function to make it more generic.

# ANSWER TO (3)

In [39]:
# clusterDf = pd.DataFrame(columns=['Borough','Latitude','Longitude']) Kept for Reference

In [40]:
ydfcopy=ydf
ydfcopy=ydfcopy.set_index("Borough",drop=True)
nyCluster = ydfcopy.loc['North York']